<app-header>
</app-header>

<div style="display:flex">
    <div class='container coluna teste' [dragula]='"bag-task1"' [dragulaModel]='MagiaGrimorio' [dragulaOptions]="options">
        <h3>To Do</h3>
        <p-card subtitle="Subtitle" styleClass="ui-card-shadow" class="Card99" *ngFor="let text of MagiaGrimorio">
            <p-header>{{text.nome}}</p-header>
        </p-card>
    </div>

    <div class='container coluna2 teste' [dragula]='"bag-task1"' [dragulaModel]='MagiaPlayer' [dragulaOptions]="options2">
        <h3>In Progress</h3>
        <p-card subtitle="Subtitle" styleClass="ui-card-shadow" class="Card99" *ngFor="let text of MagiaPlayer">
            <p-header>{{text.nome}}</p-header>

        </p-card>
    </div>
    <div class='container coluna2 teste' [dragula]='"bag-task1"' [dragulaModel]='MagiaPlayer' [dragulaOptions]="options2">
        <h3>In Progress</h3>
        <p-card subtitle="Subtitle" styleClass="ui-card-shadow" class="Card99" *ngFor="let text of MagiaPlayer2">
            <p-header>{{text.nome}}</p-header>

        </p-card>
    </div>
    <div class='container coluna2 teste' [dragula]='"bag-task1"' [dragulaModel]='MagiaPlayer' [dragulaOptions]="options2">
        <h3>In Progress</h3>
        <p-card subtitle="Subtitle" styleClass="ui-card-shadow" class="Card99" *ngFor="let text of MagiaPlayer3">
            <p-header>{{text.nome}}</p-header>

        </p-card>
    </div>
    <div class='container coluna2 teste' [dragula]='"bag-task1"' [dragulaModel]='MagiaPlayer' [dragulaOptions]="options2">
        <h3>In Progress</h3>
        <p-card subtitle="Subtitle" styleClass="ui-card-shadow" class="Card99" *ngFor="let text of MagiaPlayer4">
            <p-header>{{text.nome}}</p-header>

        </p-card>
    </div>
</div>