.wrapper_Magico {
    //display: flex;
    //flex-wrap: wrap;
    font-size: 1rem;
    line-height: 1.25;
    background: #3d3780;
    color: #d1d1ff; //margin-bottom: 1.5rem;
    border-radius: .5rem;
    border-color: #3d3780;
    box-shadow: 0 8px 20px 0 rgba(40, 37, 89, 0.6);
    font-weight: 400;
}

ui-card {
    text-align: center
}

.coluna {
    box-shadow: 6px 0px 25px 0px #000000 !important;
}

.coluna2 {
    box-shadow: -6px 0px 25px 0px #000000 !important;
}


/* .Card99{
    margin-bottom: 1px !important;
    border-style: solid !important;
    border-bottom:0px solid transparent !important;
    border-top:0px solid transparent !important;
    -webkit-box-shadow: inset 0px -9px 10px 0 rgba(0, 0, 0, 0.749) !important;
    -moz-box-shadow: inset 0px -9px 10px 0 rgba(0, 0, 0, 0.749) !important;
    box-shadow: inset 0px -9px 10px 0 rgba(0, 0, 0, 0.749) !important;
} */