.size{
    width: 12vw !important;
}
.button {
    display: inline-block;
    padding: 13px 23px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    margin-bottom: 1rem;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
  }
  
  .button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }